
body{
    display: flex;
    height: 96vh;
}

.main-container{
    text-align: center;
    width: 90%;
    margin: auto;
    background-color: #20c997;
    border-radius: 50px;
}

h2{
    font-size: 30px;
    width: 90%;
    margin-left: 18px;
    margin-top: 20px;
    padding: 20px 0;
}

.flex-box-container{
    display: flex;
    /* border: 1px solid black; */
    padding: 10px;
    justify-content: space-around;
}

.flex-box-container div{
    padding: 10px;
    /* border: 1px solid black; */
}

.result{
    background-color: rgb(228, 220, 220);
    border-radius: 50px;
}